<div class="container my-5 py-5">
  <div class="row col justify-content-center align-self-center">
    <div class="row col-md-4 justify-content-center">
      <div class="logo" [routerLink]="[' ']">
        <img src="{{'../assets/design/logo-black-60.png'}}">
      </div>
      <h2 class="text-center my-1">
        Please type your email address in order to reset your password
      </h2>
      <form [formGroup]="resetPasswordForm">
        <fieldset class="form-group my-2">
          <input class="custom-input form-control" type="email" placeholder="email address" required email
            formControlName="email" />
          <span class="text-danger" *ngIf="resetPasswordForm.get('email').dirty">{{
        formHelper.getErrorMessage(resetPasswordForm, "email")
      }}</span>
        </fieldset>
        <button type="submit" class="col-6 offset-3 my-1" (click)="sendResetPassword()"
          [disabled]="resetPasswordForm.invalid">
          Send
        </button>
        <p class="text-dark text-center my-2 custom-p" [routerLink]="['/login']">Do you remember your password? Just sign in!
        </p>
      </form>
    </div>
  </div>
</div>
