<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" internalLogFile="D:\.projects\MyStagramApp\MyStagram.API\wwwroot\logs\internal-logs.txt">

    <targets>
        <target xsi:type="File" name="all" fileName="D:\.projects\MyStagramApp\MyStagram.API\wwwroot\logs\all-logs-${shortdate}.log" layout="$#${longdate}$|${uppercase:${level}}$|${logger}$|${message}$|${exception:format=stacktrace}" />
        <target xsi:type="File" name="api" fileName="D:\.projects\MyStagramApp\MyStagram.API\wwwroot\logs\api-logs-${shortdate}.log" layout="$#${longdate}$|${uppercase:${level}}$|${logger}$|${message}$|${exception:format=stacktrace}$|${aspnet-request-url}$|${aspnet-mvc-action}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="all" />
        <logger name="*" minlevel="Trace" writeTo="api" />
    </rules>
</nlog>