$primaryColor: #1a1e23;
$secondaryColor: #dde1e4;
$secondaryColorWhiter: #eef0f2;
$thirdColor: #212121;
$destructiveColor: #720026;
$greenColor: #4c956c;
$yellowColor: #f5cb5c;

$maxWidth: 1600px;
$borderRadius: 10px;
$boxShadow: 1px 1px grey;

//https://coolors.co/dde1e4-242423-f5cb5c-4c956c-ff595e-212121
