<div class="container my-5 py-5">
  <div class="row col justify-content-center align-self-center">
    <div class="row col-md-4 justify-content-center">
      <div class="logo">
        <img src="{{'../assets/design/logo-black-60.png'}}">
      </div>
      <h2 class="text-center">
        Please type your new password in order to reset your password
      </h2>
      <form class="reset-password-form" [formGroup]="resetPasswordForm">
        <fieldset class="form-group my-2">
          <input type="password" class="custom-input form-control" placeholder="new password" required minlength="{{ constants.minUserPasswordLength }}"
            maxlength="{{ constants.maxUserPasswordLength }}" formControlName="newPassword" />
          <span class="text-danger" *ngIf="resetPasswordForm.get('newPassword').dirty">{{
        formHelper.getErrorMessage(resetPasswordForm, "newPassword")
      }}</span>
        </fieldset>
        <fieldset class="form-group my-2">
          <input type="password" class="custom-input form-control" placeholder="confirm password" maxLength="{{ constants.maxUserPasswordLength }}"
            required formControlName="confirmPassword" />
          <span class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword').dirty">{{
        formHelper.getErrorMessage(resetPasswordForm, "confirmPassword")
      }}</span>
        </fieldset>
        <button type="submit" class="col-8 offset-2" (click)="resetPassword()" [disabled]="resetPasswordForm.invalid">
          Reset password
        </button>
      </form>
    </div>
  </div>
</div>
